*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/copyright/
/.idea/encodings.xml
/.idea/inspectionProfiles/
/.idea/misc.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
